networks:
  dockerapps-net:
    external: true

services:
  voidauth: 
    image: voidauth/voidauth:latest
    container_name: voidauth
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.37
        ipv6_address: fd00:dead:beef:2::37
    user: "${PUID}:${PGID}"
    volumes:
      - ./config:/app/config
      - ./db:/app/db
    ports:
      - "3002:3000"
    environment:
      - APP_URL=https://auth1.${ROOT_DOMAIN}
      - PASSWORD_STRENGTH=${PASS_STRENGTH}
      - APP_TITLE=${APP_TITLE}
      - STORAGE_KEY=${VOIDAUTH_STORAGE_KEY}
      - DB_ADAPTER=sqlite
    restart: unless-stopped
