networks:
  dockerapps-net:
    external: true
# ------------------------------------------------
# GOACCESS (Logs)
# ------------------------------------------------
services:
  goaccess:
    image: allinurl/goaccess:latest
    container_name: goaccess
    networks:
      dockerapps-net:
        ipv4_address: 172.20.0.29
        ipv6_address: fd00:dead:beef:2::29
    ports:
      # Changed to 7891 to free up 7890
      - "7891:7891" 
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      # READ LOGS (Point to Caddy's folder)
      - /mnt/pool01/homelab/services/gateway-stack/caddy/logs:/var/log/caddy:ro
      - ./data:/srv/data
      - ./html:/srv/report
      # MAXMIND (Read from Caddy's folder)
      - /mnt/pool01/homelab/services/gateway-stack/caddy/maxmind:/srv/maxmind:ro
    tmpfs:
      - /var/www/goaccess
    command: >
      /var/log/caddy/access.log
      --log-format=CADDY
      --real-time-html
      --addr=0.0.0.0
      --port=7891
      --output=/srv/report/index.html
      --db-path=/srv/data
      --persist
      --restore
      --geoip-database=/srv/maxmind/GeoLite2-Country.mmdb
      --ws-url=ws://192.168.0.100:7891
      --origin=http://192.168.0.100:7890
      --exclude-ip=172.20.0.0/24
      --exclude-ip=192.168.0.0/16
      --exclude-ip=127.0.0.1
      --exclude-ip=fd00:dead:beef:1::/64
      --exclude-ip=::1
      --ignore-crawlers
    restart: unless-stopped

# 2. The Web Server (Frontend)
  report-server:
    image: caddy:alpine
    container_name: goaccess-webui
    networks:
      - dockerapps-net
    # Simple one-liner to just serve the folder
    command: caddy file-server --listen :80 --root /srv/report
    volumes:
      # Read the file GoAccess writes
      - ./html:/srv/report:ro
    ports:
      # Visit this port
      - "7890:80"
    restart: unless-stopped