services:
  # ------------------------------------------------
  # 1. TAILSCALE (Subnet Router)
  # ------------------------------------------------
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: cachyos-homelab
    # HOST MODE: No 'networks' section
    # Uses physical server's IP (192.168.0.100).
    network_mode: host       
    privileged: true         
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - TS_STATE_DIR=/var/lib/tailscale
      # AUTH KEY: Optional. If omitted, check logs for login URL.
      # - TS_AUTHKEY=tskey-auth-xxxxxx 
      
      # SUBNET ROUTING
      - TS_ROUTES=192.168.0.0/24
      - TS_HOSTNAME=cachyos-homelab

      # Enable Tailscale SSH
      - TS_EXTRA_ARGS=--ssh
      
      # OPTIMIZATIONS
      - TS_USERSPACE=false    # Performance (Kernel Mode)
      - TS_ACCEPT_DNS=false   # Safety (Protect Host DNS)
      
      # METRICS & HEALTH
      - TS_ENABLE_HEALTH_CHECK=true
      - TS_ENABLE_METRICS=true
      - TS_LOCAL_ADDR_PORT=0.0.0.0:9002

      #For Homepage Use
      - HOMEPAGE_VAR_TAILSCALE_DEVICE_ID=${HOMEPAGE_VAR_TAILSCALE_DEVICE_ID}
      - HOMEPAGE_VAR_TAILSCALE_KEY=${HOMEPAGE_VAR_TAILSCALE_KEY}
    
    volumes:
      - ./state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
      # Giving the container read-only access to host's kernel modules so it can load the drivers it needs for iptables
      - /lib/modules:/lib/modules:ro
    
    healthcheck:
      # wget -q   = Quiet (don't print progress bars)
      # -O -      = Output to stdout (required to combine with -q in BusyBox)
      # --spider  = Don't download, just check headers (Simulates curl -I)
      test: ["CMD-SHELL", "wget -q --spider http://127.0.0.1:9002/healthz || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 20s
      
    restart: unless-stopped